<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Restaurant - Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div th:fragment="menu" class="tab-pane fade" id="v-pills-menus" role="tabpanel" aria-labelledby="v-pills-menus-tab" tabindex="0">
  <div class="container-fluid">
    <div class="d-flex justify-content-start align-items-center">
      <h1 class="me-auto">Admin - Menu</h1>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#menuModal">Add Menu</button>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col" class="text-end">Control</th>
        </tr>
        </thead>
        <tbody class="table-group-divider" id="menu-list">
        <tr>
          <th scope="row" colspan="5">No record found</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="menuModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="menuForm" th:action="@{/admin/menus}" method="post">
            <div class="mb-3">
              <label for="menu-name" class="col-form-label">Name</label>
              <input type="text" class="form-control" id="menu-name" required>
            </div>
            <div class="mb-3">
              <label for="menu-image" class="col-form-label">Image Url</label>
              <input type="text" class="form-control" id="menu-image" required>
            </div>
            <div class="mb-3">
              <label for="menu-desc" class="col-form-label">Description</label>
              <textarea type="text" class="form-control" id="menu-desc" rows="3" required></textarea>
            </div>
            <div class="mb-3">
              <label for="menu-category" class="col-form-label">Category</label>
              <select id="menu-category" class="form-control" required>
              </select>
            </div>
            <div class="mb-3">
              <label for="menu-status" class="col-form-label">Status</label>
              <select id="menu-status" class="form-control" required>
                <option value="0">Available</option>
                <option value="1">Not Available</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button form="menuForm" type="submit" class="btn btn-primary" id="menu-submit">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script th:fragment="menu-script">
  document.onreadystatechange = function () {
      if (document.readyState == "interactive") {
          // Initialize your application or run some code.
          const menuModal = document.getElementById('menuModal');
          const menuForm = document.getElementById('menuForm');
          const mtitle = document.getElementById('menuModalLabel');
          const msubmit = document.getElementById('menu-submit');
          const mnameInput = document.getElementById('menu-name');
          const mdescInput = document.getElementById('menu-desc');
          const mimageInput = document.getElementById('menu-image');
          const mstatusInput = document.getElementById('menu-status');
          const mcategoryInput = document.getElementById('menu-category');

          let menuId = null;

          menuModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;

            menuId = button.getAttribute('data-bs-menuId');

            mtitle.innerHTML = 'Add Category';
            msubmit.innerHTML = 'Save';
            mnameInput.value = '';
            mdescInput.value = '';
            mimageInput.value = '';
            mcategoryInput.options[0].selected = true;
            mstatusInput.options[0].selected = true;

            if(!!menuId) {
              mtitle.innerHTML = 'Update Category';

              mnameInput.value = button.getAttribute('data-bs-menuName');
              mdescInput.value = button.getAttribute('data-bs-menuDesc');
              mimageInput.value = button.getAttribute('data-bs-menuImage');
              mcategoryInput.value = button.getAttribute('data-bs-menuCategory');
              mstatusInput.options[button.getAttribute('data-bs-menuStatus')].selected = true;

              msubmit.innerHTML = 'Update';
            }
          });

         menuFormEvent = menuForm.addEventListener('submit', async event => {
            event.preventDefault();

            const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

              let url = base_url + '/menus';
              let method = 'POST';

              let data = {
                name: mnameInput.value,
                image: mimageInput.value,
                description: mdescInput.value,
                status: +mstatusInput.value,
                category: +mcategoryInput.value
              };

              console.log(data);

              if(!!menuId) {
                url += `/${menuId}`;
                method = 'PUT';
                data = {
                  ...data,
                  id: +menuId
                };
              }

              const response = await fetch(url, {
                method,
                headers: {
                  'Content-Type': 'application/json',
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                  'X-XSRF-TOKEN': csrfToken
                },
                body: JSON.stringify(data)
              });

              loadMenus();
              menuModal.classList.remove('show');
              menuModal.style.display = 'none';
              document.getElementsByClassName('modal-backdrop')[0].remove();
          });

          const menuNav = document.getElementById('v-pills-menus-tab');

          menuNav.addEventListener('click', event => {
            loadMenus();
            loadCategories();
          });

          function loadCategories() {
            categoryInput.innerHTML = '';

            fetch(base_url + '/categories')
            .then(response => response.json())
            .then(data => {
                if(data.count == 0) {
                    return;
                }

                data.map(cat => {
                  mcategoryInput.innerHTML += `<option value="${cat.id}">${cat.name}</option>`;
                });
            });
          }
      }
    }

    function loadMenus() {
      const list = document.getElementById('menu-list');
      list.innerHTML = '';
      fetch(base_url + '/menus')
      .then(response => response.json())
      .then(data => {
          if(data.count == 0) {
              list.innerHTML = '<tr><th scope="row" colspan="5">No record found</th></tr>';
              return;
          }

          let count = 1;
          data.map(menu => {
              list.innerHTML += `<tr><th scope="row">${count}</th><td><img src="${menu.image}" class="image-fluid" style="height: 28px"/></td><td>${menu.name}</td><td>${menu.status}</td><td class="text-end"><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#menuModal" data-bs-menuName="${menu.name}" data-bs-menuId="${menu.id}" data-bs-menuStatus="${menu.status == 'Available' ? 0 : 1}" data-bs-menuDesc="${menu.description}" data-bs-menuImage="${menu.image}" data-bs-menuCategory="${menu.category.id}">Edit</button></td></tr>`;
              count++;
          });
      });
    }
</script>
</body>
</html>