<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Restaurant - Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <nav th:replace="fragments/header :: header"></nav>
  <main>
    <div class="m-auto my-4" style="max-width: 700px">
      <h3 class="text-center fw-bold">Cart Page</h3>
      <div class="list-group">
        <div th:each="cart: ${carts}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <img th:src="${cart.menu.image}" style="width: 90px; height: 70px;" class="image-fluid" />
            <h5 th:text="${cart.menu.name}"></h5>
            <span th:text="${cart.qty}" class="badge bg-primary rounded-pill">0</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>