<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Restaurant - Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .category-header {
            max-width: 700px;
        }
    </style>
</head>
<body>
<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">The Restaurant</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a sec:authorize="!isAuthenticated()" class="me-3 py-2 text-dark text-decoration-none" th:href="@{/register}">Register</a>
                <a sec:authorize="!isAuthenticated()" class="py-2 text-dark text-decoration-none" th:href="@{/login}">Login</a>

                <a sec:authorize="isAuthenticated()" class="me-3 py-2 text-dark text-decoration-none" th:href="@{/carts}">Cart</a>
                <div sec:authorize="isAuthenticated()" class="py-2 dropdown">
                    <a sec:authentication="principal.firstname" href="#" class="text-dark text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" th:href="@{/my-orders}">My Orders</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a href="#" onclick="document.getElementById('logout-form').submit();" class="dropdown-item">Logout</a>
                            <form id="logout-form" th:action="@{/logout}" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div th:each="category: ${categories}">
            <div class="category-header p-3 pb-md-4 mx-auto text-center">
                <h1 th:text="${category.name}" class="display-4 fw-normal"></h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center g-5">
                <div th:each="menu: ${menus.?[category.id == __${category.id}__]}" class="col">
                    <div class="card h-100">
                        <img style="height: 300px" th:src="${menu.image == '' || menu.image == null ? 'https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg' : menu.image}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 th:text="${menu.name}" class="card-title">title</h5>
                            <p th:text="${menu.description}" class="card-text"></p>
                            <p class="card-text">
                                <span th:text="${#numbers.formatCurrency(menu.price)}" class="text-muted me-auto"></span>
                            </p>

                            <button th:onclick="|addToCart(${menu.id})|" sec:authorize="hasAuthority('CUSTOMER')" class="btn btn-primary w-100">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed top-0 end-0 p-3 pt-5">
        <div id="addToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Successfully added to cart!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    const base_url = 'http://localhost:8080';
    const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

    function addToCart(id) {
        const ajxReq = $.ajax({
            url : `${base_url}/api/carts/${id}`,
            method: 'POST',
            contentType : 'application/json',
            dataType : 'json',
            headers: {'X-XSRF-TOKEN': csrfToken},
            success: function (data, text) {
                const toastAddToCart = document.getElementById('addToast');
                const toast = new bootstrap.Toast(toastAddToCart, {
                    delay: 3000,
                    autoHide: true
                });
                toast.show();
            },
            error: function (request, status, error) {
                console.error("The status is :" + status);
                console.error("The error message is :" + error);
            }
        });
    }
</script>
</body>
</html>